.nav-topo {
    background-color: $verde;
    height: 30px;
    position: relative;

    +mobile() {
        height: 50px;
    }

    .center {
        display: flex;
        align-items: center;

        +mobile() {
            flex-direction: column;
        }

        > .link-vagas {
            montserrat(12, medium);
            color: $textoClaro;
            text-transform: uppercase;
            transition: 0.2s;

            +below($tablet) {
                font-size: 10px;
            }

            +mobile() {
                font-size: 8px;
                width: 100%;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }

            &:hover {
                color: #FFF;
            }

            span {
                text-transform: none;

                +mobile() {
                    margin-left: 3px;
                }
            }
        }

        .right {
            margin-left: auto;
            display: flex;

            +mobile() {
                height: 25px;
                width: 100%;
                margin: 0 auto;
            }

            .link-topo {
                display: flex;
                height: 30px;
                align-items: center;
                padding: 0 30px;
                border-right: 1px solid $textoClaro;
                montserrat(12, medium);
                text-transform: uppercase;
                color: $textoClaro;
                transition: 0.2s;

                +below($tablet) {
                    padding: 0 20px;
                    font-size: 10px;
                }

                +mobile() {
                    height: 100%;
                    padding: 0 12px;
                    font-size: 8px;
                    border-top: 1px solid $textoClaro;
                }

                &:hover, &.active {
                    background: $cinzaEscuro;
                }

                &:first-child {
                    border-left: 1px solid $textoClaro;
                }
            }
        }

        select {
            margin: 0 30px;
            align-self: stretch;
            appearance: none;
            background: transparent;
            border: 0;
            outline: 0;
            montserrat(14, bold);
            color: $textoClaro;
            width: 54px;
            padding-left: 22px;
            background: $img('seta-idioma-cinza.svg') no-repeat right center, $img('ico-idioma-cinza.svg') no-repeat left center, $verde;
            cursor: pointer;
            overflow: hidden !important;
            position: relative;
            transition: 0.2s;

            +below($tablet) {
                margin: 0 20px;
                font-size: 12px;
            }

            &:hover {
                color: #FFF;
                background: $img('seta-idioma.svg') no-repeat right center, $img('ico-idioma.svg') no-repeat left center, $verde;
            }

            +mobile() {
                position: absolute;
                width: 50px;
                height: 25px;
                right: 0;
                top: 0;
                font-size: 10px;
                margin: 0 0 0 auto;
                padding-left: 20px;
                background: $img('seta-idioma-cinza.svg') no-repeat right center / 8px, $img('ico-idioma-cinza.svg') no-repeat left center / 12px, $verde;

                &:hover {
                    color: #FFF;
                    background: $img('seta-idioma.svg') no-repeat right center / 8px, $img('ico-idioma.svg') no-repeat left center / 12px, $verde;
                }
            }

            option {
                montserrat(14, bold);
                overflow: hidden;

                +below($tablet) {
                    font-size: 12px;
                }

                +mobile() {
                    font-size: 10px;
                }
            }
        }

        .redes-sociais {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 30px;
            padding: 0 0 0 25px;
            border-left: 1px solid $textoClaro;

            +below($tablet) {
                padding: 0 0 0 20px;
            }

            +mobile() {
                height: 100%;
                padding: 0 10px;
                border-left: none;
                border-right: 1px solid $textoClaro;
                border-top: 1px solid $textoClaro;
            }

            .instagram, .facebook, .linkedin {
                height: 16px;
                border: none;
                border-left: 0 !important;
                margin: 0 5px;
                transition: 0.2s;

                +mobile() {
                    height: 14px;
                    margin: 0 3px;
                }
            }

            .facebook {
                width: 7px;
                background: $img('ico-facebook-cinza.svg') no-repeat center;
                background-size: contain;

                &:hover {
                    background: $img('ico-facebook.svg') no-repeat center;
                }
            }

            .linkedin {
                width: 17px;
                background: $img('ico-linkedin-cinza.svg') no-repeat center;
                background-size: contain;

                &:hover {
                    background: $img('ico-linkedin.svg') no-repeat center;
                }
            }

            .instagram {
                width: 16px;
                background: $img('ico-instagram-cinza.svg') no-repeat center;
                background-size: contain;

                &:hover {
                    background: $img('ico-instagram-topo.svg') no-repeat center;
                }
            }
        }
    }
}

header {
    .center {
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        position: relative;
        height: 100%;
        width: 300px;
        background-color: #fff;
        background: $img('marca-edc-slogan.svg') no-repeat left center;
        background-size: contain;
        text-indent: -9999px;
        transition: transform 0.1s ease-in-out;

        +mobile() {
            width: 60%;
        }

        &:hover {
            transform: scale(1.05);
        }
    }

    #nav-desktop {
        a {
            montserrat: 14 semi;
            color: $texto;
            text-transform: uppercase;

            &:hover, &.active {
                color: $verde;
            }

            + a {
                margin-left: 2.7em;
            }
        }

        +below($tablet) {
            display: none;
        }
    }

    #mobile-toggle {
        +above($tablet) {
            display: none;
        }

        display: block;
        background-color: transparent;
        border: 0;
        height: 28px;
        width: 28px;
        outline: 0;
        padding: 0;
        cursor: pointer;

        .lines {
            display: block;
            width: 100%;
            height: 4px;
            background: $texto;
            position: relative;
            transition: 0.3s ease;
            border-radius: 3px;

            &:before, &:after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                width: 100%;
                height: 4px;
                background: $texto;
                transition: 0.3s ease;
                border-radius: 3px;
            }

            &:before {
                top: 7px;
            }

            &:after {
                top: -7px;
            }
        }

        &.close {
            .lines {
                background: transparent;

                &:before, &:after {
                    transform-origin: 50% 50%;
                    top: 0;
                }

                &:before {
                    transform: rotate3d(0, 0, 1, 45deg);
                }

                &:after {
                    transform: rotate3d(0, 0, 1, -45deg);
                }
            }
        }
    }

    #nav-mobile {
        display: none;
        background: #FFF;
        position: absolute;
        width: 100%;
        padding: 10px 5% $rem(30) 5%;
        z-index: 102;

        +above($tablet) {
            display: none !important;
        }

        a {
            display: block;
            text-align: right;
            montserrat: 16 semi;
            color: $texto;
            text-transform: uppercase;

            + a {
                margin-top: 0.4em;
            }

            &:hover, &.active {
                color: $verde;
            }
        }
    }
}

.aviso-cookies {
    display: flex;
    width: 100%;
    margin: 0;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 9;
    padding: 25px 7%;

    .frase-cookies {
        width: 80%;
        opensans(14);
        color: #FFF;
        margin: 0;

        .link-politica {
            text-decoration: underline;

            &:hover, &:focus {
                font-weight: bold;
            }
        }
    }

    .aceitar-cookies {
        width: 20%;
        montserrat(14);
        color: #FFF;
        background-color: #01669C;
        border: none;
        border-radius: 5px;
        height: 40px;
        margin-left: 20px;
        font-weight: 600;
        cursor: pointer;
        outline: none;

        &:hover, &:focus {
            background-color: #003d5d;
        }
    }

    +below($tablet) {
        +mobile() {
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }

        .frase-cookies {
            font-size: 13px;

            +mobile() {
                font-size: 11px;
                width: 100%;
                text-align: center;
            }
        }

        .aceitar-cookies {
            font-size: 13px;

            +mobile() {
                font-size: 12px;
                width: 100%;
                text-align: center;
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }
}

.floating-wpp {
    float: right;
    position: fixed !important;
    right: 30px !important;
    bottom: 60px !important;
    z-index: 999 !important;

    &:before {
        display: block;
        content: '';
        width: 12px;
        height: 12px;
        background-color: #76C04E;
        position: absolute;
        z-index: 1;
        border-radius: 50%;
        right: 2px;
        top: 3px;

        +below($tablet) {
            width: 10px;
            height: 10px;
            top: 0;
        }
    }
}

.floating-wpp-popup.active {
    width: 360px !important;
    bottom: 70px !important;
    right: 0;
    padding-bottom: 0 !important;

    +below($tablet) {
        width: 250px !important;
        bottom: 50px !important;
    }

    .close {
        font-size: 24px;
        padding-top: 0;
        font-weight: inherit;

        +below($tablet) {
            font-size: 16px;
        }
    }
}

.floating-wpp-button {
    +below($tablet) {
        width: 40px !important;
        height: 40px !important;
    }
}

.floating-wpp-head {
    padding: 20px !important;
    margin: 0 -15px 20px -15px !important;

    +below($tablet) {
        padding: 10px !important;
        margin: 0 -15px 10px -15px !important;
    }

    span {
        display: flex;

        div.img-edc-uni {
            width: 55px;
            height: 55px;
            background-color: #FFF;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            +below($tablet) {
                width: 40px;
                height: 40px;
            }

            img {
                width: 70%;
                height: auto;
            }

            &:before {
                content: '';
                bottom: 2px;
                right: 2px;
                width: 10px;
                height: 10px;
                box-sizing: border-box;
                background-color: #76C04E;
                display: block;
                position: absolute;
                z-index: 1;
                border-radius: 50%;

                +below($tablet) {
                    bottom: 0;
                }
            }
        }

        div.textos {
            padding: 5px 0 0 20px;

            +below($tablet) {
                padding: 0 0 0 10px;
            }

            .titulo {
                montserrat(18);
                font-weight: 600;
                margin: 0;
                text-align: start;

                +below($tablet) {
                    font-size: 14px;
                }
            }

            .frase {
                opensans(12);
                margin: 0;
                text-align: start;

                +below($tablet) {
                    font-size: 10px;
                }
            }
        }
    }
}

.floating-wpp-message {
    opensans(14, medium);
    color: $azul;
    padding: 20px 55px 20px 15px !important;

    +below($tablet) {
        padding: 10px !important;
        font-size: 12px;
    }
}

.floating-wpp-input-message {
    margin: 20px -15px 0 -15px !important;

    +below($tablet) {
        margin: 10px -15px 0 -15px !important;
    }

    textarea {
        outline: none;
        opensans(14, medium);
        color: $azul;

        +below($tablet) {
            font-size: 10px;
        }
    }

    .floating-wpp-btn-send:hover {
        opacity: 0.6;
    }
}