html {
    font-size: 16px;
    height: 100%;

    +tablet() {
        font-size: 15px;
    }

    +mobile() {
        font-size: 14px;
    }
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

p {
    line-height: 1.5;
}

body {
    opensans: 16;
    color: $texto;
}
