desktop-base-width = 1200px;
rupture.desktop-cutoff = $tablet = 1260px;
rupture.mobile-cutoff = $mobile = 768px;
rupture.anti-overlap = -1px;

$verde = #76C04E;
$verdeDestaque = #93F96E;
$texto = #606062;
$bg = #F2F4F0;

$textoClaro = #e5e5e5;
$bordaCinza = #a3a3a3;
$cinzaEscuro = #606062;
$verdeServ = #76C04E;
$verdeEng = #00986F;
$verdeUni = #75846F;
$verdeSmart = #65bba4;

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800|Open+Sans:400,700&display=swap');

opensans($size, $weight = normal, $style = normal) {
    font-size: $rem($size);
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-style: $style;

    if ($weight == medium) {
        font-weight: 500;
    }

    if ($weight == bold) {
        font-weight: 700;
    }
}

montserrat($size, $weight = normal, $style = normal) {
    font-size: $rem($size);
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-style: $style;

    if ($weight == light) {
        font-weight: 300;
    }

    if ($weight == semi || ($weight == medium)) {
        font-weight: 500;
    }

    if ($weight == bold) {
        font-weight: 700;
    }

    if ($weight == extrabold) {
        font-weight: 800;
    }
}
