.blog-post
    .dados-blog
        height 240px
        background $bg
        +mobile()
            height auto
        .center
            display flex
            flex-direction row
            justify-content space-between
            +mobile()
                flex-direction column
            .textos
                margin-top 40px
                +below($tablet)
                    margin-top 30px
                h1
                    montserrat 32 light
                    color $verde
                    margin 0 0 15px 0
                    text-transform uppercase
                    +below($tablet)
                        font-size 26px
                    +mobile()
                        font-size 22px
                .instagram
                    width 205px
                    height 35px
                    border 1px solid #8f8f91 
                    display flex
                    flex-direction row
                    align-items center
                    justify-content center
                    opensans 16
                    color $texto
                    font-style italic
                    transition .3s ease
                    +below($tablet)
                        font-size 14px
                    +mobile()
                        width 180px
                        height 30px
                    .img-instagram
                        width 20px
                        margin 0 5px 0 10px
                        transition transform 0.3s
                    .nome
                        font-weight 600
                    &:hover
                        background-color #8f8f91
                        color #FFF
                        .img-instagram
                            transform rotate(360deg) scale(1.2)
            .imgs
                display flex
                align-items center
                margin 10px 0
                +below($tablet)
                    margin 20px 0
                .img-grazi
                    width 215px
                    margin-right 10px
                    +below($tablet)
                        width 190px
                    +mobile()
                        width 50%
                .img-dicas
                    width 295px
                    height 150px
                    +below($tablet)
                        width 200px
                        height 100px
                    +mobile()
                        width 130px
                        height 65px
    .dados-post
        padding 40px 0
        .center
            display flex
            flex-direction row
            align-items flex-start
            +mobile()
                flex-direction column
            .textos-hashtags
                width 380px
                +below($tablet)
                    width 35%
                +mobile()
                    width 100%
                .texto-post, .texto-detalhe
                    padding-right 60px
                    opensans 16
                    color $texto
                    +below($tablet)
                        padding-right 20px
                        font-size 14px
                    +mobile()
                        padding-right 0
                    p
                        margin 0 0 20px 0
                        a
                            color $verde
                            font-weight 600
                            transition .3s ease
                            &:hover
                                background-color $verde
                                color #FFF
                .texto-detalhe
                    margin-top 40px
                    +below($tablet)
                        margin-top 30px
                    +mobile()
                        margin 30px 0
                .hashtags
                    display flex
                    flex-wrap wrap
                    margin 0
                    padding-right 40px
                    +below($tablet)
                        padding-right 20px
                    +mobile()
                        padding-right 0
                    .link-hashtag
                        opensans 16
                        font-weight 500
                        color #2323FF
                        margin-right 5px
                        transition .2s ease
                        +below($tablet)
                            font-size 14px
                        &:hover
                        &:focus
                            color $verde
                .btn-voltar
                    width 110px
                    height 35px
                    opensans 14
                    color $verde
                    font-weight 600
                    border 1px solid $verde
                    display flex
                    align-items center
                    justify-content center
                    margin 40px 0
                    transition .3s ease
                    +below($tablet)
                        width 100px
                        height 30px
                        font-size 13px
                        margin 30px 0
                    &:hover
                        background-color $verde
                        color #FFF
            .imagens-post
                width 820px
                +below($tablet)
                    width 65%
                +mobile()
                    width 100%
                .img-post
                    width 47.5%
                    margin-bottom 20px
                    margin-right 2.5%
                    +below($tablet)
                        margin-bottom 10px
                    +mobile()
                        width 100%
                        margin-right 0