.blog
    .dados-blog
        background $bg
        padding 40px 0 
        h1
            montserrat 32 light
            color $verde
            margin 0 0 15px 0
            text-transform uppercase
            +below($tablet)
                font-size 26px
            +mobile()
                font-size 22px
        .dados
            display flex
            flex-direction row
            align-items flex-start
            justify-content center
            +mobile()
                flex-direction column
                align-items center
            .img
                width 50%
                padding 15px 0 0 100px
                +below($tablet)
                    padding 15px 0 0 80px
                +mobile()
                    width 100%
                    padding-top 15px
                    display flex
                img 
                    width 100%
                    +mobile()
                        width 70%
            .dicas
                width 50%
                padding 10px 65px 0 65px
                opensans 16
                color $texto
                +below($tablet)
                    padding 10px 30px 0 30px
                    font-size 14px
                +mobile()
                    padding 10px 0 0 0
                    width 100%
                    display flex
                    flex-direction column
                    align-items center
                p
                    color $texto
                    margin 0 0 20px 0
                .img-dicas
                    margin-top 30px
                    +below($tablet)
                        width 90%
                        float right 
                        margin 20px 0
                    +mobile()
                        width 70%
                .instagram
                    width 205px
                    height 35px
                    border 1px solid #8f8f91 
                    display flex
                    flex-direction row
                    align-items center
                    justify-content center
                    margin 45px 20px 0 auto
                    opensans 16
                    color $texto
                    font-style italic
                    transition .3s ease
                    +below($tablet)
                        font-size 14px
                        margin 20px 0 0 auto
                    +mobile()
                        margin 0 auto
                    .img-instagram
                        width 20px
                        margin 0 5px 0 10px
                        transition transform 0.3s
                    .nome
                        font-weight 600
                    &:hover
                        background-color #8f8f91
                        color #FFF
                        .img-instagram
                            transform rotate(360deg) scale(1.2)
    .posts
        padding 55px 0
        +below($tablet)
            padding 40px 0
        .center
            display flex
            flex-wrap wrap
            +mobile()
                flex-direction column
            .post
                width 31%
                margin-right 40px
                height auto
                display flex
                flex-direction column
                padding 30px 0 50px 0
                border-top 1px solid $verde
                +below($tablet)
                    margin-right 25px
                    padding 20px 0 40px 0
                +mobile()
                    width 100%
                    border none
                .img-capa-post
                    width 100%
                    height auto
                .data
                    opensans 16
                    color $verde
                    font-weight 600
                    font-style italic
                    margin 10px 0 20px auto
                    +below($tablet)
                        font-size 14px
                        margin 10px 0 15px auto 
                .texto-post
                    opensans 14
                    color $texto
                    +below($tablet)
                        font-size 13px
                    p
                        margin 0 0 20px 0
                        a
                            color $verde
                            font-weight 600
                            transition .3s ease
                            overflow-wrap anywhere
                            &:hover
                                background-color $verde
                                color #FFF
                .hashtags
                    display flex
                    flex-wrap wrap
                    .link-hashtag
                        opensans 14
                        font-weight 500
                        color #2323FF
                        margin-right 5px
                        transition .2s ease
                        +below($tablet)
                            font-size 13px
                        &:hover
                        &:focus
                            color $verde
                .btn-ver-mais
                    width 110px
                    height 35px
                    opensans 14
                    color $verde
                    font-weight 600
                    border 1px solid $verde
                    display flex
                    align-items center
                    justify-content center
                    margin-top 40px
                    transition .3s ease
                    +below($tablet)
                        width 100px
                        height 30px
                        font-size 13px
                        margin-top 30px
                    &:hover
                        background-color $verde
                        color #FFF

                    
