.area-do-candidato
    background $bg
    padding 45px 0
    +mobile()
        padding 40px 0
    .center
        display flex
        align-items flex-end
        +mobile()
            flex-direction column
            align-items flex-start
        .left
            width calc("100% - 420px")
            +tablet()
                width calc("100% - 350px")
            +mobile()
                width 100%
            h1
                montserrat 32 light
                color $verde
                margin 0 0 15px 0
                text-transform uppercase
            .texto-candidato
                p
                    margin 0
                    line-height 1.4
            .links
                max-width 100%
                margin 50px auto 0 0
                display flex
                flex-direction row
                align-items flex-start
                justify-content flex-start
                +tablet()
                    margin 30px auto 0 0
                +mobile()
                    margin 30px 0
                    flex-direction column
                    align-items center
                a
                    width 340px
                    height 280px
                    margin 0 30px 0 0
                    background #fff
                    border-radius 5px
                    text-align center
                    padding 35px 20px 20px 20px
                    transition .2s
                    +tablet()
                        width 45%
                        margin 0 20px 0 0
                    +mobile()
                        width 90%
                        margin 0 5% 15px 5%
                    img 
                        height 80px
                        +tablet()
                            height 60px
                        +mobile()
                            height 60px
                    h2
                        color $verde
                        montserrat 20 extrabold
                        text-transform uppercase
                        margin 30px 0 10px 0
                        +tablet()
                            font-size 18px
                        +mobile()
                            font-size 18px
                    p
                        opensans 16
                        margin 0 15px
                        line-height 1.4
                        +tablet()
                            font-size 14px
                        +mobile()
                            font-size 14px
                    &:hover
                        box-shadow 0 5px 14px rgba(#000, .065)
                        transform translateY(-4px)
        .right
            width 420px
            height 420px
            background-color $texto
            border-radius 10px
            position relative
            +tablet()
                width 350px
                height 350px
            +mobile()
                width 100%
                height 350px
            .depoimento
                width 100%
                height 100%
                padding 35px 30px 35px 40px
                +tablet()
                    padding 30px 20px 20px 30px
                +mobile()
                    padding 30px 20px 20px 30px
                .texto
                    opensans 16
                    color #FFF
                    margin 5px 0
                    line-height 1.4
                    +tablet()
                        font-size 13px
                    +mobile()
                        font-size 13px
                .nome
                    opensans 16
                    font-weight 600
                    font-style italic
                    color #FFF
                    margin 15px 0 0 0
                    +tablet()
                        font-size 13px
                    +mobile()
                        font-size 13px
            #next
                width 30px
                height 30px
                position absolute
                bottom 30px
                right 30px
                z-index 999
                +tablet()
                    width 25px
                    height 25px
                    bottom 20px
                    right 20px
                +mobile()
                    width 25px
                    height 25px
                    bottom 20px
                    right 20px
                > img
                    width 100%
                    height 100%
                    object-fit contain
                    transition transform 0.5s
                &:hover
                    > img
                        transform rotate(360deg) scale(1.2)
    .video
        width 800px
        height 426px
        margin 80px calc("(100% - 800px) / 2")
        margin-bottom 40px
        border none
        +mobile()
            width 90%
            height 170px
            margin 80px 5% 40px 5%