.consultor
    background $bg
    padding $rem(60) 0
    h1
        montserrat 32 light
        color $verde
        margin 0 0 1em
        text-transform uppercase
    .links
        max-width 1080px
        margin $rem(40) auto 0
        display grid
        grid-template-columns repeat(3, 1fr)
        grid-gap $rem(30)
        +mobile()
            grid-template-columns 1fr
        a
            background #fff
            border-radius 5px
            text-align center
            padding $rem(30) $rem(26)
            transition .2s
            h2
                color $verde
                montserrat 20 extrabold
                text-transform uppercase
            &:hover
                box-shadow 0 5px 14px rgba(#000, .065)
                transform translateY(-4px)
    .contratacao
        border-top 1px solid rgba($texto, .1)
        max-width 1080px
        margin $rem(45) auto 0
        padding-top $rem(45)
        img
            display block
            max-width 100%
        *:first-child
            margin-top 0
        *:last-child
            margin-bottom 0
