.contato {
    background: $bg;

    .center {
        padding: $rem(40) 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .informacoes {
        max-width: $rem(500);
        margin-right: $rem(50);

        .link-whatsapp {
            display: block;
            montserrat: 18 semi;
            margin: 0 0 5px 0;
            transition: 0.3s ease;

            .img-whatsapp {
                margin-right: 5px;
            }

            &:hover {
                color: $verde;
            }
        }

        .telefone {
            montserrat: 18 semi;
            margin: 0;
        }

        .endereco {
            font-style: italic;
            margin: 2.5em 0 0;
        }
    }

    form {
        flex: 1;
        max-width: $rem(650);

        h2 {
            montserrat: 16 semi;
            text-transform: uppercase;
            margin: 0 0 1.3em;
        }

        .wrapper {
            display: flex;
            width: 100%;

            > div {
                flex: 1;
            }

            input[type=text], input[type=email] {
                display: block;
                width: 100%;
                height: 30px;
                background: #fff;
                padding: 0 8px;
                opensans: 14;
                color: $texto;
                border: 0;
                outline: 0;

                + input {
                    margin-top: 4px;
                }
            }

            textarea {
                display: block;
                width: 100%;
                flex: 1;
                margin: 0 4px;
                background: #fff;
                padding: 8px;
                opensans: 14;
                color: $texto;
                border: 0;
                outline: 0;
                resize: none;
            }

            input[type=submit] {
                background: #CCE4B9;
                border: 0;
                outline: 0;
                cursor: pointer;
                opensans: 15 bold;
                color: $texto;
                padding: 0 10px;
                transition: 0.2s;

                &:hover {
                    background: $verde;
                    color: #fff;
                }
            }
        }

        .flash {
            padding: 1.4em;
            montserrat: 13 semi;
            text-transform: uppercase;
            color: #fff;
            margin-bottom: 0.6em;

            &.flash-error {
                background: #e74c3c;
            }

            &.flash-success {
                background: $verde;
            }
        }
    }

    .mapa {
        width: 100%;
        height: 600px;

        iframe {
            width: 100%;
            height: 100%;
            display: block;
        }

        +tablet() {
            height: 450px;
        }

        +mobile() {
            height: 250px;
        }
    }

    +below(945px) {
        .center {
            flex-wrap: wrap;
        }

        .informacoes {
            width: 100%;
            max-width: unset;
            margin: 0;
        }

        form {
            width: 100%;
            margin-top: $rem(45);
        }
    }

    +below(650px) {
        form .wrapper {
            display: block;

            textarea {
                height: 100px;
                margin: 4px 0;
            }

            input[type=submit] {
                height: 30px;
                width: 100%;
            }
        }
    }
}

.work_for_us
    margin-top: 30px
    background-color: #76c04d
    cursor: pointer
    &:hover 
        background-color: #606062
    h1
        margin: 0
        padding-top: 15px
        padding-left: 20px
        padding-right: 20px
        montserrat 18
        color: white
    p
        opensans 16
        padding-left: 20px
        padding-right: 20px
        padding-bottom: 15px
        color: white
        margin: 0
        margin-top: 5px