.empresas {
    width: 100%;
    height: auto;
    margin: 0;
    padding-bottom: 120px;
    background-color: #FFF;
    position: relative;

    +below($tablet) {
        margin-bottom: 0;
    }

    +mobile() {
        padding-bottom: 40px;
    }

    .empresa {
        height: auto;
        margin-bottom: 30px;

        +mobile() {
            margin-bottom: 40px;
        }

        .img-capa {
            width: 100%;
            height: 300px;
            object-fit: cover;

            +below($tablet) {
                height: 200px;
            }

            +mobile() {
                height: 150px;
            }
        }

        .informacoes {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;

            +mobile() {
                flex-direction: column;
                justify-content: flex-start;
            }

            .sobre {
                width: 450px;
                height: auto;
                background-color: #FFF;
                padding: 55px 40px;
                margin-top: -100px;
                position: relative;
                -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 6%, 93% 0);
                clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 6%, 93% 0);

                +below($tablet) {
                    width: 35%;
                    padding: 30px;
                    margin-top: -60px;
                }

                +mobile() {
                    width: 82%;
                    margin-left: 10px;
                    padding: 25px 20px 15px 20px;
                    margin-top: -40px;
                }

                .logo {
                    width: auto;
                    max-width: 100%;
                    height: 45px;
                    object-fit: contain;
                    margin-bottom: 50px;

                    +below($tablet) {
                        height: 35px;
                        margin-bottom: 30px;
                    }

                    +mobile() {
                        height: 30px;
                        margin-bottom: 20px;
                    }
                }

                .texto {
                    opensans(16);
                    color: $cinzaEscuro;

                    +below($tablet) {
                        font-size: 13px;
                    }

                    +mobile() {
                        font-size: 12px;
                    }

                    > p {
                        margin: 0 0 20px 0;

                        +below($tablet) {
                            margin: 0 0 15px 0;
                        }
                    }
                }
            }

            .servicos-contatos {
                width: 700px;
                height: auto;
                padding: 40px;
                margin-top: -1px;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                +below($tablet) {
                    width: 60%;
                    padding: 30px;
                }

                +mobile() {
                    width: 100%;
                    margin: -60px 0 0 0;
                    padding: 75px 25px 25px 25px;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }

                .servicos {
                    max-width: calc('100% - 220px');
                    padding-right: 20px;

                    +below($tablet) {
                        max-width: 60%;
                    }

                    +mobile() {
                        width: 100%;
                        max-width: 100%;
                        padding-right: 0;
                    }

                    .titulo {
                        montserrat(16, light);
                        color: #FFF;
                        margin: 0 0 20px 0;

                        +below($tablet) {
                            font-size: 14px;
                            margin: 0 0 15px 0;
                        }

                        +mobile() {
                            margin: 0 0 10px 0;
                        }
                    }

                    .servico {
                        opensans(18, medium);
                        color: #FFF;
                        margin: 0;
                        line-height: 1.4;

                        +below($tablet) {
                            font-size: 14px;
                        }
                    }
                }

                .contatos {
                    width: 220px;

                    +below($tablet) {
                        width: 40%;
                    }

                    +mobile() {
                        width: 72%;
                    }

                    div.contato, div.website {
                        transform: skewX(-20deg);
                        margin: 0;
                        background-color: transparent;

                        .link-contato, .link-website {
                            padding: 10px 15px;
                            opensans(14, bold);
                            border: 1px solid #FFF;
                            color: #FFF;
                            background-color: transparent;

                            +below($tablet) {
                                padding: 5px 15px;
                                font-size: 12px;
                            }
                        }

                        .link-website {
                            padding: 10px 15px 10px 30px;
                            text-transform: lowercase;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-image: $img('icone-website.svg');
                            background-repeat: no-repeat;
                            background-size: 18px;
                            background-position: 30px;

                            +below($tablet) {
                                padding: 7px 15px 7px 30px;
                                background-size: 16px;
                            }
                        }
                    }

                    div.website {
                        margin: 0 0 18px 0;

                        +below($tablet) {
                            margin: 0 0 12px 0;
                        }

                        +mobile() {
                            margin: 20px 0 12px 0;
                        }
                    }
                }
            }
        }

        &#edc-servicos {
            .informacoes {
                .sobre {
                    .logo {
                        background-image: $img('marca-edc-servicos.svg');
                        background-size: contain;
                        background-position: 0 0;
                        background-repeat: no-repeat;
                    }
                }

                .servicos-contatos {
                    background-color: $verdeServ;

                    .link-contato {
                        transition: all 0.5s ease-in-out;

                        &:hover {
                            color: $verdeServ;
                            background-color: #FFF;
                        }
                    }

                    .link-website {
                        transition: all 0.5s ease-in-out;

                        &:hover {
                            color: $verdeServ;
                            background-color: #FFF;
                            background-image: $img('icone-website-serv.svg');
                        }
                    }
                }
            }
        }

        &#edc-engenharia {
            .informacoes {
                .sobre {
                    .logo {
                        background-image: $img('marca-edc-engenharia.svg');
                        background-size: contain;
                        background-position: 0 0;
                        background-repeat: no-repeat;
                    }
                }

                .servicos-contatos {
                    background-color: $verdeEng;

                    .link-contato {
                        transition: all 0.5s ease-in-out;

                        &:hover {
                            color: $verdeEng;
                            background-color: #FFF;
                        }
                    }

                    .link-website {
                        transition: all 0.5s ease-in-out;

                        &:hover {
                            color: $verdeEng;
                            background-color: #FFF;
                            background-image: $img('icone-website-eng.svg');
                        }
                    }
                }
            }
        }

        &#edc-smart {
            .informacoes {
                .sobre {
                    .logo {
                        background-image: $img('marca-edc-smart.svg');
                        background-size: contain;
                        background-position: 0 0;
                        background-repeat: no-repeat;
                    }
                }

                .servicos-contatos {
                    background-color: $verdeSmart;

                    .link-contato {
                        transition: all 0.5s ease-in-out;

                        &:hover {
                            color: $verdeSmart;
                            background-color: #FFF;
                        }
                    }

                    .link-website {
                        transition: all 0.5s ease-in-out;

                        &:hover {
                            color: $verdeSmart;
                            background-color: #FFF;
                            background-image: $img('icone-website-uni.svg');
                        }
                    }
                }
            }
        }
    }
}