.home {
    width: 100%;
    height: auto;
    margin: 0;
    position: relative;

    .banner {
        width: 100%;
        max-width: 1420px;
        height: 500px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        +below($tablet) {
            max-width: 95%;
            height: 400px;
        }

        +mobile() {
            height: auto;
            padding: 40px;
        }

        .titulo-banner {
            opensans(15);
            color: #FFF;
            text-transform: uppercase;
            margin: 20px 0 0 0;
            letter-spacing: 5px;

            +below($tablet) {
                font-size: 13px;
                margin: 0;
            }

            +mobile() {
                font-size: 12px;
                text-align: center;
            }
        }

        .empresas-banner {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 30px 0;

            +mobile() {
                flex-direction: column;
                margin: 20px 0;
            }

            .link-empresa {
                width: 395px;
                height: 140px;
                padding: 30px;
                margin: 0 5px;

                +below($tablet) {
                    width: calc('(100% - 120px) / 3');
                    height: 120px;
                    padding: 20px;
                }

                +mobile() {
                    width: 80%;
                    height: 100px;
                    margin: 5px auto;
                }

                &#edc-servicos {
                    background-color: $verdeServ;
                    background-image: $img('marca-edc-servicos-branco.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 60%;
                    transition: background 0.5s ease-in-out;

                    &:hover {
                        background-color: $cinzaEscuro;
                    }
                }

                &#edc-engenharia {
                    background-color: $verdeEng;
                    background-image: $img('marca-edc-engenharia-branco.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 75%;
                    transition: background 0.5s ease-in-out;

                    &:hover {
                        background-color: $cinzaEscuro;
                    }
                }

                &#edc-smart {
                    background-color: $verdeSmart;
                    background-image: $img('marca-edc-smart.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 45%;
                    transition: background 0.5s ease-in-out;

                    &:hover {
                        background-color: $cinzaEscuro;
                    }
                }
            }
        }
    }

    .empresas-servicos {
        width: 100%;
        max-width: 1420px;
        height: auto;
        margin: 0 auto;
        padding: 40px 0 70px 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;

        +below($tablet) {
            max-width: 95%;
            padding: 40px 0 60px 0;
        }

        +mobile() {
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }

        .empresa {
            width: 350px;
            height: auto;
            margin: 0 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            +below($tablet) {
                width: calc('(100% - 180px) / 3');
            }

            +mobile() {
                width: 80%;
                margin: 20px auto;
            }

            .servico {
                opensans(16, bold);
                margin: 0;
                text-align: center;
                text-transform: uppercase;

                +below($tablet) {
                    font-size: 14px;
                }
            }

            .linha-divisao {
                width: 165px;
                border: none;
                margin: 7px 0;

                +below($tablet) {
                    width: 40%;
                    margin: 5px 0;
                }
            }

            div.contato {
                transform: skewX(-20deg);
                margin: 35px 0 20px 0;
                background-color: transparent;

                +below($tablet) {
                    margin: 30px 0 15px 0;
                }

                +mobile() {
                    margin: 20px 0;
                    text-align: center;
                }

                .link-contato {
                    padding: 10px 30px;
                    opensans(14, bold);
                    font-style: italic;
                    transition: 0.5s ease;

                    +below($tablet) {
                        padding: 5px 20px;
                        font-size: 12px;
                    }
                }
            }

            .link-website {
                width: auto;
                height: 20px;
                position: relative;
                border: 1px solid #FFF;
                border-radius: 10px;
                opensans(12);
                color: #FFF;
                display: flex;
                align-items: center;
                padding: 0 10px 0 25px;
                background: $img('icone-website.svg') no-repeat 8px / 13px transparent;
                transition: all 0.3s ease;

                +below($tablet) {
                    font-size: 10px;
                }
            }

            &#edc-servicos {
                .servico {
                    color: $verdeServ;
                }

                .linha-divisao {
                    border-bottom: 1px solid $verdeServ;
                }

                .link-contato {
                    border: 1px solid $verdeServ;
                    color: $verdeServ;

                    &:hover {
                        background-color: $verdeServ;
                        color: #FFF;
                    }
                }

                .link-website {
                    background-color: $verdeServ;

                    &:hover {
                        color: $verdeServ;
                        border: 1px solid $verdeServ;
                        background: $img('icone-website-serv.svg') no-repeat 8px / 13px #FFF;
                    }
                }
            }

            &#edc-engenharia {
                .servico {
                    color: $verdeEng;
                }

                .linha-divisao {
                    border-bottom: 1px solid $verdeEng;
                }

                .link-contato {
                    border: 1px solid $verdeEng;
                    color: $verdeEng;

                    &:hover {
                        background-color: $verdeEng;
                        color: #FFF;
                    }
                }

                .link-website {
                    background-color: $verdeEng;

                    &:hover {
                        color: $verdeEng;
                        border: 1px solid $verdeEng;
                        background: $img('icone-website-eng.svg') no-repeat 8px / 13px #FFF;
                    }
                }
            }

            &#edc-smart {
                .servico {
                    color: $verdeSmart;
                }

                .linha-divisao {
                    border-bottom: 1px solid $verdeSmart;
                }

                .link-contato {
                    border: 1px solid $verdeSmart;
                    color: $verdeSmart;

                    &:hover {
                        background-color: $verdeSmart;
                        color: #FFF;
                    }
                }

                .link-website {
                    background-color: $verdeSmart;

                    &:hover {
                        color: $verdeSmart;
                        border: 1px solid $verdeSmart;
                        background: $img('icone-website-uni.svg') no-repeat 8px / 13px #FFF;
                    }
                }
            }
        }
    }

    .vagas {
        width: 100%;
        height: 310px;
        margin: 0;
        background-color: #E2E8DF;
        padding: 15px 0;

        +below($tablet) {
            height: 250px;
        }

        +mobile() {
            height: auto;
        }

        .center {
            display: flex;
            align-items: center;
            justify-content: center;

            +mobile() {
                flex-direction: column;
            }

            .img-vagas {
                width: 600px;
                height: 280px;
                object-fit: cover;

                +below($tablet) {
                    width: 50%;
                    height: 100%;
                }

                +mobile() {
                    width: 100%;
                    height: auto;
                }
            }

            .sobre-vagas {
                padding: 0 90px;

                +below($tablet) {
                    padding: 0 90px 0 50px;
                }

                +mobile() {
                    padding: 15px;
                }

                .titulo-vagas {
                    montserrat(36, medium);
                    color: $verde;
                    text-transform: uppercase;
                    margin: 0 0 10px 0;

                    +below($tablet) {
                        font-size: 28px;
                    }

                    +mobile() {
                        font-size: 24px;
                        text-align: center;
                    }

                    .img-seta {
                        width: auto;
                        height: auto;

                        +below($tablet) {
                            width: 22px;
                        }
                    }
                }

                .frase-vagas {
                    opensans(16);
                    color: $cinzaEscuro;
                    line-height: 1.4;
                    margin: 0;

                    +below($tablet) {
                        font-size: 14px;
                    }

                    +mobile() {
                        font-size: 12px;
                        text-align: center;
                    }
                }

                div {
                    transform: skewX(-20deg);
                    margin: 25px 0 0 0;

                    +mobile() {
                        margin: 20px 0 0 0;
                        text-align: center;
                    }

                    .link-vagas {
                        padding: 10px 30px;
                        border: 1px solid $verde;
                        opensans(14, bold);
                        color: $verde;
                        font-style: italic;
                        transition: 0.3s ease;

                        +mobile() {
                            padding: 5px 20px;
                            font-size: 12px;
                        }

                        &:hover {
                            background-color: $verde;
                            color: #FFF;
                        }
                    }
                }
            }
        }
    }

    .conheca {
        padding: 75px 0;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        +below($tablet) {
            padding: 50px 0;
        }

        +mobile() {
            padding: 40px 0;
        }

        .titulo-conheca {
            montserrat(28, light);
            color: $cinzaEscuro;
            margin: 0;

            +below($tablet) {
                font-size: 24px;
            }

            +mobile() {
                font-size: 20px;
            }
        }

        .video {
            width: 710px;
            height: 400px;
            margin: 40px 0;
            border: none;

            +below($tablet) {
                width: 70%;
                height: 350px;
                max-height: 370px;
                margin: 30px 0;
            }

            +mobile() {
                width: 100%;
                height: 180px;
                max-height: 180px;
            }
        }

        .saiba-mais {
            transform: skewX(-20deg);
            margin: 0;
            background-color: transparent;

            +mobile() {
                text-align: center;
            }

            .link-saiba-mais {
                padding: 3px 20px;
                opensans(12);
                color: $cinzaEscuro;
                font-style: italic;
                border: 1px solid $cinzaEscuro;
                transition: 0.5s ease;

                &:hover {
                    background-color: $cinzaEscuro;
                    color: #FFF;
                }
            }
        }
    }

    .novidades {
        width: 100%;
        height: 475px;
        background-color: $cinzaEscuro;

        +below($tablet) {
            height: 400px;
        }

        +mobile() {
            height: auto;
        }

        .titulo-novidades {
            width: 100%;
            height: 110px;
            montserrat(24, light);
            color: $bordaCinza;
            margin: 0;
            border-bottom: 1px solid $bordaCinza;
            display: flex;
            align-items: center;
            justify-content: center;

            +below($tablet) {
                font-size: 18px;
                height: 80px;
            }

            +mobile() {
                font-size: 16px;
                text-align: center;
            }
        }

        .itens-novidades {
            width: 100%;
            height: 365px;
            display: flex;
            align-items: flex-start;
            justify-content: center;

            +below($tablet) {
                height: 320px;
            }

            +mobile() {
                height: auto;
                flex-direction: column;
                align-items: center;
            }

            .link-novidade {
                width: calc('100% / 3');
                height: 100%;
                border-right: 1px solid $bordaCinza;

                +mobile() {
                    width: 100%;
                    height: auto;
                    padding-bottom: 15px;
                    border-right: none;
                    border-bottom: 1px solid $bordaCinza;
                }

                .categoria {
                    montserrat: 12 semi;
                    color: #FFF;
                    width: 220px;
                    height: 25px;
                    margin: 0 auto;
                    text-transform: uppercase;
                    background-color: #78787A;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    +below($tablet) {
                        width: 80%;
                    }
                }

                .titulo {
                    montserrat: 18 semi;
                    color: #76C04E;
                    width: 90%;
                    height: 120px;
                    margin: 0 auto;
                    padding: 40px 5% 0 5%;
                    text-transform: uppercase;
                    text-align: center;
                    line-height: 1.2;

                    +below($tablet) {
                        font-size: 14px;
                        padding: 20px 0 0 0;
                    }

                    +mobile() {
                        height: 100px;
                    }
                }

                .img-novidade {
                    width: 360px;
                    height: 190px;
                    object-fit: cover;
                    margin: 0 auto;
                    display: block;

                    +below($tablet) {
                        width: 90%;
                        height: 120px;
                    }

                    +mobile() {
                        height: 150px;
                    }
                }

                &:hover, &:focus {
                    background-color: #95FF6F;

                    .link-novidade {
                        .categoria {
                            background-color: #76C04E;
                        }

                        .img-novidade {
                            background-color: none;
                        }
                    }
                }
            }
        }
    }

    .depoimentos {
        background: #CCE4B9;
        overflow: hidden;
        margin: 40px 0 60px 0;

        +below($tablet) {
            margin: 40px 0;
        }

        .center {
            display: grid;
            grid-template-columns: 320px 1fr;
            grid-gap: 64px;
        }

        h2 {
            background: #B8D8A0;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            montserrat: 20 extrabold;
            color: #fff;
            text-transform: uppercase;
            line-height: 1.2;
            transform: skew(-12deg);

            span {
                transform: skew(12deg);
            }
        }

        .depoimentos-wrapper {
            min-height: 265px;

            > div {
                padding: $rem(60) 0 $rem(60);

                p {
                    opensans: 20;
                    color: $texto;
                    font-style: italic;
                    line-height: 1.3;
                    margin: 0;

                    + p {
                        margin-top: 1.5em;
                    }

                    &.nome {
                        font-style: italic;
                        text-transform: uppercase;
                    }
                }
            }
        }

        +below($tablet) {
            overflow: hidden;

            .center {
                display: block;
            }

            h2 {
                transform: none;
                display: block;
                padding: 1em 0;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    left: -100%;
                    top: 0;
                    width: 200vw;
                    height: 100%;
                    background: #B8D8A0;
                }

                span {
                    transform: none;
                    position: relative;
                    z-index: 2;
                }
            }

            .depoimentos-wrapper {
                min-height: unset;

                > div {
                    padding: $rem(30) 0;

                    p {
                        font-size: $rem(16);
                    }
                }
            }
        }
    }
}
