@keyframes loader
    from
        transform rotate(0deg)
    to
        transform rotate(359deg)


.novidades
    .title
        background $bg
        .topo
            display flex
            flex-direction row
            align-items center
            justify-content space-between
            padding 50px 0
            +mobile()
                flex-direction column
                align-items flex-start
            .titulo-novidades
                montserrat 32 light
                color $verde
                text-transform uppercase
                margin 0
                padding 0
                transition .2s
                +mobile()
                    font-size $rem(26)
                &:hover
                    color $texto
            .busca
                input
                    display block
                    width 100%
                    height 30px
                    background $img('lupa-novidades.svg') no-repeat left center
                    border 0
                    outline 0
                    opensans 16
                    padding-left 36px
                    color #333
                    +mobile()
                        margin-top 20px
    .destaques
        display grid
        grid-template-columns repeat(2, 1fr)
        grid-gap 1px
        padding-bottom $rem(24)
        +mobile()
            grid-template-columns 1fr
        a
            position relative
            img
                display block
                width 100%
            &:after
                content ''
                position absolute
                width 100%
                height 50%
                left 0
                bottom 0
                background-image linear-gradient(0deg, rgba(#000, .5), transparent)
            .overlay
                position absolute
                width 100%
                left 0
                bottom 0
                padding 30px
                padding-right 70px
                background $img('seta-losango-verde.svg') no-repeat bottom 20px right 20px
                background-size 35px 35px
                transition background .2s
                z-index 2
                .categoria
                    opensans 11 bold
                    text-transform uppercase
                    color $verde
                    position relative
                    transition color .2s
                    &:before
                        content ''
                        position absolute
                        right calc('100% + 10px')
                        top 50%
                        margin-top -1px
                        width 20px
                        height 2px
                        background $verde
                        transition background .2s
                .titulo
                    opensans 20
                    color #fff
                    margin .5em 0 0
            &:hover
                .categoria
                    color #fff
                    &:before
                        background #fff
                .overlay
                    background $img('seta-losango-branca.svg') no-repeat bottom 20px right 20px rgba($verde, .7)
                    background-size 35px 35px
            +mobile()
                .overlay
                    background-image none !important
                    padding-right 30px
                    padding-bottom 20px
    .container
        display grid
        grid-template-columns 360px 1fr
        grid-gap 40px
        aside
            padding-top $rem(32)
        +tablet()
            grid-template-columns 260px 1fr
        +mobile()
            grid-template-columns 1fr
    .categorias
        display flex
        flex-direction column
        align-items flex-start
        a
            position relative
            padding 10px 10px 10px 30px
            opensans 18 bold
            text-transform uppercase
            color $verde
            transition color .2s, background .2s
            &:before
                content ''
                position absolute
                left 0
                top 50%
                transform translateY(-1px)
                height 2px
                width 20px
                background $verde
                transition background .2s
            &:hover
            &.active
                background $verde
                color #fff
                &:before
                    background #fff
        + .busca
            margin-top $rem(40)
    .nenhum
        margin $rem(32) 0
        text-align center
        padding 1em
        border 1px solid $verde
        opensans 15
    .novidades-ver-mais
        display block
        width 200px
        height 60px
        background $bg
        margin $rem(60) auto
        montserrat 16 bold
        color $verde
        border 0
        outline 0
        cursor pointer
        position relative
        &:after
            content ''
            position absolute
            display block
            width 24px
            height 24px
            border 2px solid rgba($verde, .35)
            border-top-color $verde
            border-radius 50%
            left 50%
            top 50%
            margin-top -12px
            margin-left -12px
            transform-origin center
            animation loader .75s linear infinite
            opacity 0
        &.loading
            cursor default
            font-size 0
            &:after
                opacity 1
    .relacionados
        margin-top $rem(80)
        padding-top $rem(30)
        border-top 1px solid #ddd
        h4
            opensans 22 bold
            color $verde
            margin 0 0 1.2em
        .relacionados-lista
            display grid
            grid-template-columns repeat(3, 1fr)
            grid-gap 10px
            +mobile()
                grid-template-columns 1fr
    .novidades-lista
        display grid
        grid-template-columns repeat(auto-fill, minmax(280px, 1fr))
        grid-gap 40px 10px
        margin-top -10px
    .pagination
        margin-top $rem(45)
        border-top 1px solid #ddd
        padding-top $rem(20)
        text-align center
        list-style none
        display flex
        justify-content center
        align-items center
        li
            border 1px solid #ddd
            margin 0 2px
            montserrat 14
            a
            span
                padding 5px 10px
                display block
            &.active
                font-weight bold
                color $verde
                border-color $verde
            &.disabled
                display none
    .thumb-image
        display grid
        grid-template-columns 350px 1fr
        margin-top $rem(30)
        &:nth-child(3)
            margin-bottom $rem(50)
        img
            width 100%
            height 100%
            object-fit cover
        +below($tablet)
            grid-template-columns 1fr
            img
                height auto
        .info
            +above($tablet)
                min-height 200px
            padding $rem(22) $rem(30) $rem(72)
            background $img('seta-losango-branca.svg') no-repeat bottom 20px right 20px $verde
            transition background .2s
            &:hover
                background-color #606062
            .categoria
                montserrat 11 bold
                color #fff
                position relative
                text-transform uppercase
                &:before
                    content ''
                    position absolute
                    right calc('100% + 10px')
                    top 50%
                    margin-top -1px
                    width 40px
                    height 2px
                    background #fff
            .titulo
                opensans 20
                color #fff
                margin 1em 0 0
    .thumb-simple
        display block
        border-top 1px solid #4BC7D4
        border-bottom 1px solid #4BC7D4
        padding $rem(26) 10px
        transition background .2s
        + .thumb-simple
            border-top 0
        img
            display none
        .categoria
            position relative
            montserrat 11 bold
            text-transform uppercase
            padding-left 30px
            color $verde
            &:before
                content ''
                position absolute
                width 20px
                height 2px
                background $verde
                left 0
                top 50%
                margin-top -1px
        .titulo
            opensans 20
            margin .6em 0 0
            transition color .2s
        &:hover
            background $bg
            .titulo
                color $verde
    .thumb-lista
        padding 10px
        transition background .2s
        .imagem
            position relative
            img
                width 100%
                display block
            &:after
                content ''
                position absolute
                width 25px
                height 25px
                background $img('seta-losango-branca.svg') no-repeat center
                bottom 20px
                right 20px
        .info
            margin-top 10px
            .categoria
                montserrat 11 bold
                color $verde
                position relative
                padding-left 30px
                text-transform uppercase
                margin 0
                transition color .2s
                &:before
                    content ''
                    position absolute
                    left 0
                    top 50%
                    transform translateY(-1px)
                    width 20px
                    height 2px
                    background $verde
                    transition background .2s
            .titulo
                opensans 16
                color #666
                margin .75em 0 0
                transition color .2s
        &:hover
            background $verde
            .info
                .categoria
                    color #fff
                    &:before
                        background #fff
                .titulo
                    color #fff

.novidades-show
    .cover
        position relative
        margin-bottom $rem(30)
        img
            display block
            width 100%
        .overlay
            position absolute
            left 0
            bottom 0
            width 100%
            padding $rem(30)
            background-image linear-gradient(0deg, rgba(#000, .5), transparent)
            .categoria
                opensans 16 bold
                text-transform uppercase
                color $verde
                display block
                text-shadow 0 1px 1px #000
            h1
                opensans 30
                color #fff
                margin .75em 0 0
                line-height 1.5
            +below($tablet)
                padding $rem(15)
                .categoria
                    font-size 14
                h1
                    font-size $rem(24)
            +mobile()
                h1
                    font-size $rem(20)
    .texto
        *:first-child
            margin-top 0
        *:last-child
            margin-bottom 0
        p
            opensans 16
            color #666
            line-height 2
        a
            color $verde
            text-decoration underline
            &:hover
                text-decoration none
        ul
            list-style none
            padding 0
            li
                position relative
                padding-left 1em
                opensans 16
                line-height 2
                color #666
                &:before
                    content '\00b7'
                    position absolute
                    left 0
                + li
                    margin-top .5em
        ol
            padding 0
            list-style-position inside
            li
                position relative
                opensans 16
                line-height 2
                color #666
                + li
                    margin-top .5em
        img
            max-width 100%
            display block
