.pagina-texto
    background $bg
    padding $rem(40) 0
    h1
        montserrat 32 light
        text-transform uppercase
        margin 0 0 1em
        color $verde
        +mobile()
            font-size 24px
    p
        margin 0
        max-width 65em
        + p
            margin-top 1em
