.quem-somos {
    width: 100%;
    height: auto;
    margin: 0;
    position: relative;

    section.banner {
        height: 375px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: contain;
        background-color: $verde;

        +below($tablet) {
            height: 300px;
        }

        +mobile() {
            height: 280px;
            padding: 30px 20px;
            background-position: center;
            background-size: cover;
        }

        .textos {
            width: 50%;
            height: 100%;
            margin: 0 0 0 auto;
            padding: 0 90px 0 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            +below($tablet) {
                padding: 0 60px 0 0;
            }

            +mobile() {
                padding: 0;
                width: 100%;
            }

            h1.edc {
                montserrat(24, light);
                color: #FFF;
                text-transform: uppercase;
                margin: 0 0 20px 0;

                +below($tablet) {
                    font-size: 20px;
                    margin: 0 0 15px 0;
                }

                +mobile() {
                    width: 100%;
                    font-size: 18px;
                    text-align: end;
                }
            }

            .titulo-banner {
                montserrat(28, bold);
                color: #FFF;
                text-transform: uppercase;
                line-height: 1.3;
                margin: 0;

                +below($tablet) {
                    font-size: 20px;
                    margin: 0;
                }

                +mobile() {
                    font-size: 16px;
                    text-align: end;
                }
            }

            .texto-banner {
                opensans(16);
                color: #FFF;

                +below($tablet) {
                    font-size: 14px;
                }

                +mobile() {
                    font-size: 12px;
                    text-align: end;
                }

                > p {
                    margin: 20px 0;

                    +below($tablet) {
                        margin: 15px 0;
                    }
                }
            }
        }
    }

    section.empresas {
        padding: 70px 0 60px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        +below($tablet) {
            padding: 50px 0;
        }

        +mobile() {
            padding: 40px 0;
        }

        .img-selo {
            width: 130px;
            height: auto;
            object-fit: contain;

            +below($tablet) {
                width: 100px;
            }

            +mobile() {
                width: 80px;
            }
        }

        .slogan {
            opensans(24);
            color: $verde;
            font-style: italic;
            margin: 20px 0;

            +below($tablet) {
                font-size: 20px;
                margin: 15px 0;
            }

            +mobile() {
                font-size: 16px;
                text-align: center;
                padding: 0 10%;
            }
        }

        .links-empresas {
            width: 100%;
            height: auto;
            margin: 30px 0;
            display: flex;
            align-items: center;
            justify-content: center;

            +below($tablet) {
                margin: 20px 0;
            }

            +mobile() {
                flex-direction: column;
                margin: 0;
            }

            .link-empresa {
                width: auto;
                height: auto;
                margin: 0 30px;

                +below($tablet) {
                    margin: 0 20px;
                }

                +mobile() {
                    margin: 10px 0;
                }

                .img-logo {
                    width: auto;
                    height: auto;
                    max-width: 250px;
                    max-height: 35px;
                    object-fit: contain;
                    opacity: 1;
                    transition: opacity 0.3s ease-in-out;

                    +below($tablet) {
                        max-height: 30px;
                    }
                }

                &:hover {
                    .img-logo {
                        opacity: 0.6;
                    }
                }
            }
        }
    }

    section.perfil-atuacao {
        background-color: $bg;
        height: 370px;
        padding: 40px 60px;

        +below($tablet) {
            height: 300px;
            padding: 40px;
        }

        +mobile() {
            height: auto;
            padding: 20px 30px;
        }

        .titulo-perfil {
            montserrat(24, light);
            color: $verde;
            text-transform: uppercase;
            text-align: center;
            margin: 0;

            +below($tablet) {
                font-size: 20px;
            }

            +mobile() {
                font-size: 18px;
            }
        }

        .atuacoes {
            width: 100%;
            margin: 45px 0 0 0;
            display: flex;
            align-items: flex-start;
            justify-content: space-around;

            +below($tablet) {
                margin: 30px 0 0 0;
            }

            +mobile() {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 20px 0 0 0;
            }

            .item {
                width: 15%;
                max-width: 18%;
                display: flex;
                flex-direction: column;
                align-items: center;
                montserrat(16);
                color: $cinzaEscuro;
                text-align: center;

                +below($tablet) {
                    font-size: 13px;
                }

                +mobile() {
                    width: 100%;
                    max-width: 100%;
                    margin: 10px 0;
                    font-size: 12px;
                }

                .img-atuacao {
                    width: auto;
                    height: auto;
                    max-height: 80px;
                    object-fit: contain;
                    margin-bottom: 30px;

                    +below($tablet) {
                        margin-bottom: 20px;
                        max-height: 60px;
                    }

                    +mobile() {
                        margin-bottom: 10px;
                    }
                }

                > p {
                    line-height: 1.3;
                    margin: 0 0 20px 0;

                    +below($tablet) {
                        margin: 0 0 15px 0;
                    }
                }

                &.item5 {
                    width: 18%;

                    +mobile() {
                        width: 100%;
                    }
                }
            }
        }
    }

    section.video {
        height: auto;
        padding: 70px 0 80px 0;
        display: flex;
        justify-content: center;

        +below($tablet) {
            padding: 50px 0;
        }

        +mobile() {
            padding: 40px 0;
        }

        iframe {
            width: 900px;
            height: 500px;
            border: none;

            +below($tablet) {
                width: 70%;
                height: 400px;
            }

            +mobile() {
                width: 90%;
                height: 180px;
            }
        }
    }

    section.missao-visao-valores {
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        +mobile() {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }

        .missao, .visao, .valores {
            width: auto;
            max-width: 300px;
            height: auto;

            +below($tablet) {
                max-width: 25%;
            }

            +mobile() {
                width: 100%;
                max-width: 100%;
                margin: 0 0 10px 0;
            }

            .titulo {
                montserrat(24, light);
                color: $verde;
                margin: 0 0 5px 0;

                +below($tablet) {
                    font-size: 20px;
                }

                +mobile() {
                    font-size: 18px;
                }
            }

            .texto {
                opensans(16);
                color: $cinzaEscuro;

                +below($tablet) {
                    font-size: 13px;
                }

                +mobile() {
                    font-size: 12px;
                }

                > p {
                    line-height: 1.4;
                    margin: 0 0 15px 0;
                }
            }
        }

        .valores {
            max-width: 400px;

            +below($tablet) {
                max-width: 30%;
            }

            +mobile() {
                max-width: 100%;
            }
        }
    }

    section.metodologia {
        height: 460px;
        display: flex;
        align-items: center;
        margin: 50px auto 10px auto;

        +below($tablet) {
            height: auto;
            flex-direction: column;
            align-items: center;
            margin: 10px auto;
        }


        .left {
            width: 50%;
            height: 100%;
            background-color: $verde;
            padding: 40px 50px;

            +below($tablet) {
                padding: 30px
                width: 100%
            }

            .titulo-metodologia {
                montserrat(24, light);
                color: #FFF;
                margin: 0 0 20px 0;

                +below($tablet) {
                    font-size: 20px;
                    margin: 0 0 15px 0;
                }

                +mobile() {
                    font-size: 18px;
                    margin: 0 0 10px 0;
                }
            }

            .texto-metodologia {
                opensans(16);
                color: #FFF;

                +below($tablet) {
                    font-size: 13px;
                }

                +mobile() {
                    font-size: 12px;
                }

                > p {
                    margin: 0 0 20px 0;

                    +below($tablet) {
                        margin: 0 0 15px 0;
                    }
                }

                > ul {
                    margin: 0 0 20px 0;
                    list-style-position: inside;
                    padding: 0;

                    +below($tablet) {
                        margin: 0 0 15px 0;
                    }

                    > li {
                        line-height: 1.4;

                        &::marker {
                            content: '»';
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

        .right {
            width: 50%;
            height: 100%;
            background-color: #50A62A;
            padding: 40px 50px;

            +below($tablet) {
                padding: 30px;
                margin: 0;
                width: 100%
            }

            +mobile() {
                width: 100%;
                height: auto;
                padding: 20px 30px;
            }

            .img-selo {
                width: auto;
                height: auto;
                margin-bottom: 30px;
                object-fit: contain;

                +below($tablet) {
                    margin-bottom: 20px;
                    max-width: 90%;
                }
            }

            .frase {
                opensans(16, bold);
                color: #FFF;
                line-height: 1.4;
                margin: 0;

                +below($tablet) {
                    font-size: 13px;
                }

                +mobile() {
                    font-size: 12px;
                }
            }
        }
    }

    section.politica-qualidade {
        background-color: $cinzaEscuro;
        display: flex;
        padding: 40px 50px;
        margin-bottom: 100px;

        +below($tablet) {
            padding: 40px;
            margin-bottom: 60px;
        }

        +mobile() {
            height: auto;
            padding: 20px 30px;
            margin-bottom: 40px;
            flex-direction: column;
            align-items: center;
        }

        .titulo-politica {
            width: 260px;
            montserrat(36, light);
            color: #FFF;
            text-align: start;
            text-transform: uppercase;
            line-height: 1.4;
            margin: 0;

            +below($tablet) {
                width: 25%;
                font-size: 26px;
            }

            +mobile() {
                width: 100%;
                font-size: 18px;
            }
        }

        .texto-politica {
            width: calc('100% - 260px');
            opensans(16);
            color: #FFF;
            padding: 10px 50px 0 65px;

            +below($tablet) {
                width: 75%;
                font-size: 13px;
                padding: 10px 40px 0 60px;
            }

            +mobile() {
                width: 100%;
                font-size: 12px;
                padding: 20px 0 0 0;
            }

            > p {
                margin: 0 0 10px 0;
            }

            > ul {
                margin: 0 0 10px 0;
                list-style-position: outside;
                padding: 0;
                padding-left: 15px;
                > li {
                    line-height: 1.4;
                    margin: 0 0 10px 0;

                    &::marker {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    section.lideranca {
        width: 100%;
        height: auto;
        background-color: $bg;
        padding: 70px 0;

        +below($tablet) {
            padding: 40px 0;
        }

        .titulo-lideranca {
            montserrat(32, light);
            color: $verde;
            text-align: center;
            text-transform: uppercase;
            margin: 0;

            +below($tablet) {
                font-size: 24px;
            }

            +mobile() {
                font-size: 20px;
            }
        }

        .lideres {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-around;
            margin-top: 40px;

            +below($tablet) {
                margin-top: 30px;
            }

            +mobile() {
                flex-direction: column;
                align-items: center;
            }

            .lider {
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;

                +mobile() {
                    width: 100%;
                    margin-bottom: 40px;
                }

                .img-lider {
                    width: 200px;
                    height: 200px;
                    border: 4px solid #FFF;
                    border-radius: 50%;

                    +below($tablet) {
                        width: 150px;
                        height: 150px;
                    }
                }

                .nome {
                    height: 25px;
                    margin: 15px 0 0 0;
                    montserrat(18, bold);
                    color: $verde;

                    +below($tablet) {
                        font-size: 16px;
                    }

                    +mobile() {
                        height: auto;
                        margin: 10px 0 0 0;
                    }
                }

                .cargo {
                    width: 60%;
                    min-height: 40px;
                    margin: 0;
                    montserrat(12, medium);
                    color: $verde;
                    text-align: center;
                    margin-bottom: 10px;

                    +below($tablet) {
                        font-size: 10px;
                    }
                }

                .texto {
                    width: 90%;
                    margin: 0;
                    opensans: 14;
                    color: $texto;
                    text-align: center;

                    +below($tablet) {
                        font-size: 12px;
                    }

                    p {
                        margin: 0 0 15px 0;
                    }
                }
            }
        }
    }

    section.clientes {
        padding: 80px 0;

        +below($tablet) {
            padding: 50px 0;
        }

        +mobile() {
            padding: 40px 0;
        }

        .titulo-clientes {
            montserrat(32, light);
            color: $verde;
            text-align: center;
            text-transform: uppercase;
            margin: 0;

            +below($tablet) {
                font-size: 24px;
            }

            +mobile() {
                font-size: 20px;
            }
        }

        .grid {
            margin-top: 60px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

            +below($tablet) {
                margin-top: 40px;
            }

            +mobile() {
                margin-top: 30px;
                grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
            }

            img {
                max-width: 100%;
                padding: 0; // 16px
                margin: 0 auto;
            }
        }
    }

    section.estrutura {
        width: 100%;
        height: 450px;
        background-color: $bg;
        padding: 70px 0 50px 0;
        margin-bottom: 100px;

        +below($tablet) {
            height: 350px;
            padding: 40px 0;
            margin-bottom: 60px;
        }

        +mobile() {
            height: auto;
            margin-bottom: 40px;
        }

        .titulo-estrutura {
            montserrat(32, light);
            color: $verde;
            text-align: center;
            text-transform: uppercase;
            margin: 0;

            +below($tablet) {
                font-size: 24px;
            }

            +mobile() {
                font-size: 20px;
            }
        }

        .center {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 50px;

            +below($tablet) {
                margin-top: 40px;
            }

            +mobile() {
                margin-top: 30px;
                flex-direction: column;
            }

            .estrutura-texto {
                display: flex;
                align-items: flex-start;
                width: 50%;

                +mobile() {
                    width: 100%;
                    flex-direction: column;
                }

                img {
                    width: 160px;
                    height: auto;
                    margin-right: 40px;

                    +below($tablet) {
                        width: 120px;
                        margin-right: 30px;
                    }

                    +mobile() {
                        display: block;
                        width: 100px;
                        margin-right: 0;
                        margin-bottom: 20px;
                        margin-top: -30px;
                    }
                }

                .textos {
                    padding-right: 40px;
                    margin-top: -10px;

                    +below($tablet) {
                        padding-right: 30px;
                    }

                    +mobile() {
                        margin-top: 0;
                        padding-right: 0;
                    }

                    .frase-estrutura {
                        opensans(16);
                        color: $cinzaEscuro;
                        margin: 0 0 30px 0;

                        +below($tablet) {
                            font-size: 13px;
                            margin: 0 0 20px 0;
                        }

                        +mobile() {
                            font-size: 12px;
                            margin: 0 0 15px 0;
                        }
                    }

                    p {
                        montserrat(16, medium);
                        color: $cinzaEscuro;
                        margin: 0;

                        +below($tablet) {
                            font-size: 13px;
                        }

                        +mobile() {
                            font-size: 12px;
                        }

                        span {
                            display: block;
                            padding-left: 2em;
                            margin-top: 0.4em;
                            min-height: 24px;

                            &:nth-child(1) {
                                background: $img('pin-escritorio-sede-edc.svg') no-repeat left center;
                            }

                            &:nth-child(2) {
                                background: $img('pin-filial-indaiatuba-edc.svg') no-repeat left center;
                            }

                            &:nth-child(3) {
                                background: $img('pin-filial-eua-edc.svg') no-repeat left center;
                            }

                            &:nth-child(4) {
                                background: $img('pin-filial-argentina-edc.svg') no-repeat left center;
                            }
                        }
                    }
                }
            }

            .imagens {
                display: grid;
                width: 50%;
                grid-template-columns: repeat(auto-fill, minmax(198px, 1fr));
                grid-gap: 1px;

                +below($tablet) {
                    grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
                    margin-top: 0;
                }

                +mobile() {
                    width: 100%;
                    margin-top: 20px;
                    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
                }

                a {
                    display: block;
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba($verde, 0.55);
                        opacity: 0;
                        transition: 0.3s;
                    }

                    &:hover:after {
                        opacity: 1;
                    }

                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }
}
