.trainees
    background $bg
    padding 45px 0 0 0
    position relative
    +mobile()
        padding 40px 0 0 0
    h1
        montserrat 32 light
        color $verde
        margin 0 0 20px 0
        text-transform uppercase
        +below($tablet)
            font-size 26px
        +mobile()
            font-size 22px
    .banner
        width 100%
        height 420px
        position relative
        +below($tablet)
            height 380px
        +mobile()
            height 300px
        .img-banner
            width 100%
            height 100%
            object-fit cover
        .dados-banner
            width 1200px
            margin 0 calc("(100% - 1200px)/2")
            position absolute
            top 0
            +below($tablet)
                width 90%
                margin 0 5%
            .titulo-banner
                montserrat 54
                font-weight 200
                color #FFF
                padding-right 60%
                margin 45px 0 30px 0
                line-height 1.4
                +below($tablet)
                    font-size 42px
                +mobile()
                    font-size 26px
                    padding-right 50%
                    margin 40px 0 25px 0
            .fase-banner
                opensans 12
                font-weight 600
                margin 10px 0
                line-height 1.4
            .inscricao-banner
                width 220px
                height 50px
                background-color $texto
                display flex
                align-items center
                justify-content center
                transition .3s ease
                .link-banner
                    opensans 24 bold
                    color #FFF
                    margin 0
                    transition .3s ease
                &:hover
                    background-color #FFF
                    .link-banner
                        color $texto
                +below($tablet)
                    width 200px
                    height 45px
                    .link-banner
                        font-size 20px
                +mobile()
                    width 140px
                    height 40px
                    .link-banner
                        font-size 16px
    .quem-somos
        width 100%
        height auto
        padding 50px 0 70px 0
        background-color #FFF
        +mobile()
            padding 40px 0
        h1
            montserrat 32 light
            color $verde
            margin 0 0 30px 0
            text-transform uppercase
            +below($tablet)
                font-size 26px
            +mobile()
                font-size 22px
        .sobre-edc
            display flex
            flex-direction row
            align-items flex-start
            +mobile()
                flex-direction column
                align-items center
            > div.left 
                margin-right 80px
                +below($tablet)
                    margin-right 0
                +mobile()
                    display flex
                    flex-direction column
                    align-items center
                .img-edc
                    margin 0 0 30px 0
                    +below($tablet)
                        width 70%
                    +mobile()
                        width 60%
                        margin 0 0 20px 0
                .local, .empresa
                    opensans 16
                    font-weight 600
                    color $texto
                    margin 0
                    line-height 1.4
                    +below($tablet)
                        font-size 14px
            > div.right
                +below($tablet)
                    margin-top 0
                +mobile()
                    margin-top 30px
                .texto-edc
                    opensans 16
                    font-weight 300
                    color $texto
                    margin 0
                    line-height 1.7
                    +below($tablet)
                        font-size 14px
                .titulo-pilares
                    margin 55px 0 20px 0
                    +below($tablet)
                        font-size 26px
                        margin 40px 0 15px 0
                    +mobile()
                        font-size 22px
                .pilares
                    opensans 18
                    font-weight 700
                    color $verde
                    margin 4px 0
                    +below($tablet)
                        font-size 14px
    .programa-qualificacoes
        width 100%
        height 370px
        background-color $texto
        +below($tablet)
            height 320px
        +mobile()
            height 730px
        .center
            display flex
            flex-direction row
            align-items flex-start
            justify-content space-between
            height 100%
            padding 40px 0
            +below($tablet)
                padding 30px 0
            +mobile()
                flex-direction column
                align-items center
            .programa
                width 40%
                +mobile()
                    width 100%
                .titulo-programa
                    montserrat 32 light
                    color $verde
                    margin 0 0 30px 0
                    +below($tablet)
                        font-size 26px
                        margin 0 0 20px 0
                .texto-programa
                    opensans 16
                    font-weight 300
                    color #FFF
                    line-height 1.8
                    strong
                        font-weight 600
                    +below($tablet)
                        font-size 14px
            .img-programa
                margin -60px 30px 0 30px
                +below($tablet)
                    width 30%
                    margin -50px 20px 0 20px
                +mobile()
                    width 60%
                    margin -10px 0 10px 0
            .qualificacoes
                width 40%
                +mobile()
                    width 100%
                .titulo-qualif
                    montserrat 32 light
                    color $verde
                    margin 0 0 30px 0
                    +below($tablet)
                        font-size 26px
                        margin 0 0 20px 0
                .item-qualif
                    opensans 16
                    font-weight 300
                    color #FFF
                    line-height 1.8
                    margin 0
                    > span 
                        margin-right 10px
                    +below($tablet)
                        font-size 14px
                .obs-qualif
                    opensans 12
                    font-weight 300
                    font-style italic
                    color #FFF
                    margin 25px 0 0 0
                    line-height 1.8
                    +below($tablet)
                        margin 20px 0 0 0
    .vagas-requisitos
        width 100%
        height auto
        padding 60px 0
        background-color #FFF
        +mobile()
            padding 40px 0
        h1
            montserrat 32 light
            color $verde
            margin 0 0 15px 0
            text-transform uppercase
            text-align center
            +below($tablet)
                font-size 26px
            +mobile()
                font-size 22px
        p.frase
            opensans 16
            font-weight 600
            color $verde
            margin 0
            text-align center
            +below($tablet)
                font-size 14px
        .vaga1
            display flex
            flex-direction row
            align-items flex-start
            justify-content center
            margin 30px 0
            +mobile()
                flex-direction column
            div.left
                margin-right 10px
                +below($tablet)
                    width 50%
                    display flex
                    flex-direction column
                    align-items flex-end
                +mobile()
                    width 100%
                .area
                    width 500px
                    height 55px
                    background-color $verde
                    opensans 16
                    font-weight 600
                    color #FFF
                    padding 0 30px
                    display flex
                    align-items center
                    +below($tablet)
                        font-size 14px
                        width 100%
                        height 50px
                        padding 0 20px
                .setores
                    width 500px
                    padding 20px 30px
                    background-color #E2E8DF
                    margin-top 10px
                    +below($tablet)
                        width 100%
                        padding 15px 20px
                    .titulo-setor
                        opensans 16
                        font-weight 600
                        color $texto
                        margin 0
                        line-height 1.4
                        +below($tablet)
                            font-size 14px
                    .setor
                        opensans 16
                        font-weight 300
                        color $texto
                        margin 0
                        line-height 1.4
                        +below($tablet)
                            font-size 14px
                .experiencia
                    width 500px
                    padding 20px 30px
                    background-color #E2E8DF
                    margin-top 10px
                    +below($tablet)
                        width 100%
                        padding 15px 20px
                    .titulo-exp
                        opensans 16
                        font-weight 600
                        color $texto
                        margin 0
                        line-height 1.4
                        +below($tablet)
                            font-size 14px
                    .texto-exp
                        opensans 16
                        font-weight 300
                        color $texto
                        margin 0
                        line-height 1.4
                        +below($tablet)
                            font-size 14px
            div.right
                +below($tablet)
                    width 50%
                    display flex
                    flex-direction column
                    align-items flex-end
                +mobile()
                    width 100%
                    margin-top 10px
                .requisitos
                    width 500px
                    padding 15px 20px
                    background-color #E2E8DF
                    +below($tablet)
                        width 100%
                    .titulo-req
                        opensans 16
                        font-weight 600
                        color $texto
                        margin 0
                        line-height 1.4
                        +below($tablet)
                            font-size 14px
                    .requisito
                        opensans 16
                        font-weight 300
                        color $texto
                        margin 0
                        line-height 1.4
                        +below($tablet)
                            font-size 14px
                .atividades
                    width 500px
                    padding 20px
                    background-color #E2E8DF
                    margin-top 10px
                    +below($tablet)
                        width 100%
                        padding 15px 20px
                    .titulo-ativ
                        opensans 16
                        font-weight 600
                        color $texto
                        margin 0
                        line-height 1.4
                        +below($tablet)
                            font-size 14px
                    .atividade
                        opensans 16
                        font-weight 300
                        color $texto
                        margin 0
                        line-height 1.4
                        +below($tablet)
                            font-size 14px
                .inscricao
                    width 500px
                    height 40px
                    border 1px solid $verde
                    margin-top 10px
                    display flex
                    align-items center
                    justify-content center
                    transition .3s ease
                    +below($tablet)
                        width 100%
                    .link-inscricao
                        opensans 16
                        font-weight 600
                        color $verde
                        margin 0
                        transition .3s ease
                        +below($tablet)
                            font-size 14px
                    &:hover
                        background-color $verde
                        .link-inscricao
                            color #FFF
        .vaga2
            display flex
            flex-direction row
            align-items flex-start
            justify-content center
            padding 20px 0
            +mobile()
                flex-direction column
            div.left
                margin-right 10px
                +below($tablet)
                    width 50%
                    display flex
                    flex-direction column
                    align-items flex-end
                +mobile()
                    width 100%
                .area
                    width 500px
                    height 55px
                    background-color $verde
                    opensans 16
                    font-weight 600
                    color #FFF
                    padding 0 30px
                    display flex
                    align-items center
                    +below($tablet)
                        font-size 14px
                        width 100%
                        height 50px
                        padding 0 20px
                .setores
                    width 500px
                    padding 20px 30px
                    background-color #E2E8DF
                    margin-top 10px
                    +below($tablet)
                        width 100%
                        padding 15px 20px
                    .titulo-setor
                        opensans 16
                        font-weight 600
                        color $texto
                        margin 0
                        line-height 1.4
                        +below($tablet)
                            font-size 14px
                    .setor
                        opensans 16
                        font-weight 300
                        color $texto
                        margin 0
                        line-height 1.4
                        +below($tablet)
                            font-size 14px
                .experiencia
                    width 500px
                    padding 20px 30px
                    background-color #E2E8DF
                    margin-top 10px
                    +below($tablet)
                        width 100%
                        padding 15px 20px
                    .titulo-exp
                        opensans 16
                        font-weight 600
                        color $texto
                        margin 0
                        line-height 1.4
                        +below($tablet)
                            font-size 14px
                    .texto-exp
                        opensans 16
                        font-weight 300
                        color $texto
                        margin 0
                        line-height 1.4
                        +below($tablet)
                            font-size 14px
            div.right
                +below($tablet)
                    width 50%
                    display flex
                    flex-direction column
                    align-items flex-end
                +mobile()
                    width 100%
                    margin-top 10px
                .requisitos
                    width 500px
                    padding 15px 20px
                    background-color #E2E8DF
                    +below($tablet)
                        width 100%
                    .titulo-req
                        opensans 16
                        font-weight 600
                        color $texto
                        margin 0
                        line-height 1.4
                        +below($tablet)
                            font-size 14px
                    .requisito
                        opensans 16
                        font-weight 300
                        color $texto
                        margin 0
                        line-height 1.4
                        +below($tablet)
                            font-size 14px
                .atividades
                    width 500px
                    padding 20px
                    background-color #E2E8DF
                    margin-top 10px
                    +below($tablet)
                        width 100%
                        padding 15px 20px
                    .titulo-ativ
                        opensans 16
                        font-weight 600
                        color $texto
                        margin 0
                        line-height 1.4
                        +below($tablet)
                            font-size 14px
                    .atividade
                        opensans 16
                        font-weight 300
                        color $texto
                        margin 0
                        line-height 1.4
                        +below($tablet)
                            font-size 14px
                .inscricao
                    width 500px
                    height 40px
                    border 1px solid $verde
                    margin-top 10px
                    display flex
                    align-items center
                    justify-content center
                    transition .3s ease
                    +below($tablet)
                        width 100%
                    .link-inscricao
                        opensans 16
                        font-weight 600
                        color $verde
                        margin 0
                        transition .3s ease
                        +below($tablet)
                            font-size 14px
                    &:hover
                        background-color $verde
                        .link-inscricao
                            color #FFF
        .caracteristicas
            display flex
            flex-direction row
            align-items flex-start
            justify-content center
            padding 30px 0
            +mobile()
                flex-direction column
            div.left
                margin-right 10px
                +below($tablet)
                    width 50%
                    display flex
                    flex-direction column
                    align-items flex-end
                +mobile()
                    width 100%
                .titulo-carac
                    width 500px
                    height 55px
                    background-color $texto
                    opensans 16
                    font-weight 600
                    color #FFF
                    padding 0 30px
                    display flex
                    align-items center
                    +below($tablet)
                        font-size 14px
                        width 100%
                        height 50px
                        padding 0 20px
                .tipo, .funcoes, .nivel, .local
                    width 500px
                    padding 20px 30px
                    background-color #E2E8DF
                    margin-top 10px
                    +below($tablet)
                        width 100%
                        padding 15px 20px
                    .titulo-tipo, .titulo-funcoes, .titulo-nivel, .titulo-local
                        opensans 16
                        font-weight 600
                        color $texto
                        margin 0
                        line-height 1.4
                        +below($tablet)
                            font-size 14px
                    .texto-tipo, .texto-funcoes, .texto-nivel, .texto-local
                        opensans 16
                        font-weight 300
                        color $texto
                        margin 0
                        line-height 1.4
                        +below($tablet)
                            font-size 14px
            div.right
                +below($tablet)
                    width 50%
                    display flex
                    flex-direction column
                    align-items flex-end
                +mobile()
                    width 100%
                    margin-top 10px
                .beneficios
                    width 500px
                    padding 15px 20px
                    background-color #E2E8DF
                    +below($tablet)
                        width 100%
                    .titulo-benef
                        opensans 16
                        font-weight 600
                        color $texto
                        margin 0
                        line-height 1.4
                        +below($tablet)
                            font-size 14px
                    .beneficio
                        opensans 16
                        font-weight 300
                        color $texto
                        margin 0
                        line-height 1.4
                        +below($tablet)
                            font-size 14px
        .download
            width 650px
            height 100px
            margin 50px auto 25px auto
            border 1px solid $verde
            display flex
            align-items center
            justify-content center
            padding 10px
            transition .3s ease
            +below($tablet)
                width 60%
                height 90px
            +mobile()
                width 100%
                margin 25px auto
                padding 20px
            .link-download
                opensans 16
                font-weight 600
                color $verde
                margin 0
                transition .3s ease
                +below($tablet)
                    font-size 14px
            &:hover
                background-color $verde
                .link-download
                    color #FFF
    .inscricoes
        width 100%
        height 240px
        background-color $verde
        padding 55px 0
        +below($tablet)
            height 200px
            padding 45px 0
        +mobile()
            height 280px
            padding 40px 0
        .titulo-inscricoes
            montserrat 32 light
            color #FFF
            margin 0
            text-transform uppercase
            text-align center
            +below($tablet)
                font-size 26px
            +mobile()
                font-size 22px
        .opcoes-inscricoes
            display flex
            flex-direction row
            align-items flex-start
            justify-content center
            margin-top 30px
            +mobile()
                flex-direction column
            .opcao
                width 500px
                height 60px
                background-color $texto
                opensans 16
                font-weight 600
                color #FFF
                margin 0 5px
                display flex
                align-items center
                justify-content center
                transition .3s ease
                +below($tablet)
                    width 50%
                    height 50px
                    font-size 14px
                +mobile()
                    width 100%
                    margin 5px 0
                &:hover
                    background-color #FFF
                    color $texto
    .fases-do-processo
        width 100%
        padding 50px 0
        background-color #E2E8DF
        +mobile()
            padding 40px 0
        .titulo-fases
            montserrat 32 light
            color $verde
            margin 0 0 10px 0
            text-transform uppercase
            text-align center
            +below($tablet)
                font-size 26px
            +mobile()
                font-size 22px
        .obs-fases
            opensans 12
            font-weight 300
            font-style italic
            color $texto
            text-align center
            margin 0
        .etapas
            display flex
            flex-direction row
            align-items center
            justify-content center
            margin 80px 0 60px 0
            position relative
            +below($tablet)
                margin 60px 0
            +mobile()
                flex-direction column
                align-items flex-start
                margin 40px 0
            .etapa1
                width 240px
                height 190px
                border 1px solid $verde
                padding 10px
                position relative
                +below($tablet)
                    width 20%
                    height 170px
                +mobile()
                    width 270px
                .active
                    width 220px
                    height 170px
                    border 1px solid $verde
                    position absolute
                    +below($tablet)
                        width 88%
                        height 150px
                    +mobile()
                        width 250px
                .img-etapa
                    position relative
                    top -45px
                    left 75px
                    +below($tablet)
                        left 35px
                    +mobile()
                        left 95%
                        top 30px
                .frase-etapa
                    opensans 16
                    font-weight 300
                    color $texto
                    text-align center
                    margin -15px 0 0 0
                    padding 0 10px
                    line-height 1.8
                    +below($tablet)
                        font-size 14px
                        margin -30px 0 0 0
                    +mobile()
                        margin -40px 0 0 0
                .data-etapa
                    opensans 16
                    font-weight 600
                    font-style italic
                    color $texto
                    text-align center
                    margin 0
                    line-height 1.8
                    +below($tablet)
                        font-size 14px
                .etapa-atual
                    position relative
                    display flex
                    flex-direction column
                    align-items center
                    bottom -50px
                    +below($tablet)
                        bottom -50px
                    +mobile()
                        bottom -10px
                    .img-fase-atual
                        margin-bottom 5px
                    .fase-atual
                        opensans 16
                        font-weight 600
                        color $verde
                        margin 0
                        +below($tablet)
                            font-size 14px
            .etapa0, .etapa2, .etapa3, .etapa4
                width 240px
                height 190px
                border 1px solid $verde
                padding 10px
                position relative
                +below($tablet)
                    width 20%
                    height 170px
                +mobile()
                    width 270px
                .img-etapa
                    position relative
                    top -45px
                    left 75px
                    +below($tablet)
                        left 35px
                    +mobile()
                        left 95%
                        top 30px
                .frase-etapa
                    opensans 16
                    font-weight 300
                    color $texto
                    text-align center
                    margin -15px 0 0 0
                    line-height 1.8
                    +below($tablet)
                        font-size 14px
                        margin -30px 0 0 0
                    +mobile()
                        margin -25px 10px 0 10px
                .data-etapa
                    opensans 16
                    font-weight 600
                    font-style italic
                    color $texto
                    text-align center
                    margin 0
                    line-height 1.8
                    +below($tablet)
                        font-size 14px
    .hashtag
        width 100%
        background-color #FFF
        montserrat 54
        font-weight 300
        color $verde
        padding 60px 0 0 0
        text-align center
        +below($tablet)
            font-size 44px
            padding 50px 0 0 0
        +mobile()
            font-size 30px
            padding 35px 0 0 0 